.products h1 {
  font-weight: 600;
}

.product-specification {
  border-radius: 20px;
}

.product-specification:hover {
  background-color: #f8f8f8;
}

.products .shop-now {
  background-color: #21b3f1;
}

.products .btn-shop-now {
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 1.3rem;
  border-radius: 30px;
  color: white;
  transition: all 0.3s ease;
}

.products .btn-shop-now:hover {
  background-color: white;
  color: #21b3f1;
}

.product-features img {
  width: 60px;
  color: #21b3f1;
}

.product h1{
  text-align: center;
}

.product-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-description .descp {
  width: 9rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
  transition: all .3s ease;
}

.product-description .descp p{
  color: black;
}

.product-description img {
  width: 85px;
  height: 85px;
}

.product-description .descp:hover{
  transform: translateY(-10px);
}
.product-video video {
  width: 100%;
  margin-top: 80px;
}

.product-details {
  margin-top: 100px;
}

.product-details img {
  margin: auto;
  width: 600px;
}

@media (max-width: 800px) {
  .product-drone img {
    width: 100%;
  }
  .product-video{
    margin-top: 150px;
  }
}

@media (max-width: 1090px) {
  .feature {
    flex-direction: column;
  }
}

@media (max-width: 766px){
  .product-video{
    margin-top: 150px;
  }
}

@media (max-width: 500px){
  .product h1{
    font-size: 1.9rem;
  }
  .product-video{
    margin-top: 150px;
  }

  .product-description .descp{
    margin-right: 0px;
  }
}